<h1>Search For Recipes</h1>

<input type="text" id="recipeKeyWord" placeholder="Enter a Dish">
<input type="button" id="searchRecipeButton" value="Search">

<div id="recipesDiv">

</div>

<input type="button" id="backButton" value="Go Back">